.bar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0px;
  border-radius: 3em;
  background-color: var(--dark3);
  margin: 0.5em;
  box-shadow: var(--light_shadow);
  transition: var(--train);
}

.counter_button_left {
  width: 2em;
  height: 2em;
  margin-left: -0.5em;
  margin-right: 1em;
  border: 0px;
  border-radius: 50%;
  font-weight: bold;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}

.counter_button_left:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}

.counter_button_left:active {
  background-color: var(--red2);
}

.counter_button_right {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-right: -0.5em;
  border: 0px;
  border-radius: 50%;
  font-weight: bold;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}

.counter_button_right:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}

.counter_button_right:active {
  background-color: var(--red2);
}

.counter_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light1);
  font-weight: bold;
}
.counter_label span {
  margin-left: 0.5em;
}