:root {
  --light1: #f4f4ff;
  --light2: #c4d2db;
  --light3: #94b0c2;
  --dark1: #566c86;
  --dark2: #38415c;
  --dark3: #1a1c2c;
  --red1: #b13e53;
  --red2: #591f2a;
  --heavy_shadow: 0em 0em 1em 0.1em rgba(0, 0, 0, 0.5);
  --light_shadow: 0em 0em 1em 0.1em rgba(0, 0, 0, 0.25);
  --train: background-color 0.2s ease;
}

:root.dark_mode {
  --dark3: #f4f4ff;
  --dark2: #c4d2db;
  --dark1: #94b0c2;
  --light3: #566c86;
  --light2: #38415c;
  --light1: #1a1c2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark3: #f4f4ff;
    --dark2: #c4d2db;
    --dark1: #94b0c2;
    --light3: #566c86;
    --light2: #38415c;
    --light1: #1a1c2c;
  }
}

@font-face {
  font-family: "InterVariable";
  src: local("InterVariable"), url(./fonts/InterVariable.ttf);
}

body {
  font-family: "InterVariable";
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light2);
  overflow-x: hidden;
  transition: var(--train);
}
