.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--light1);
  transition: var(--train);
  box-shadow: var(--heavy_shadow);
  font-size: 1.5em;
}

.first_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: var(--red1);
  box-shadow: var(--heavy_shadow);
}

.logo {
  height: 5rem;
  width: auto;
  margin: 0 2rem 0 1rem;
}

/* Second Section */

.second_section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: baseline;
  height: 5rem;
  width: auto;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 1rem 0 1rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow);
  transition: width 0.3s ease;
}

.active {
  font-weight: bold;
  color: var(--white);
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}

/* Menu bar */

.menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: auto;
  padding: 0 0.5rem 0 0.5rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.menu_item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item1:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.menu_item1:active {
  background-color: var(--red2);
}

.menu_item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item2:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.menu_item2:active {
  background-color: var(--red2);
}

.menu_item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item3:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}

.menu_item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item4:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.menu_item4:active {
  background-color: var(--red2);
}

.menu_item5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item5:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.menu_item5:active {
  background-color: var(--red2);
}

.menu_item6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 9rem;
  border: 0;
  border-radius: 5rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--light1);
}
.menu_item6:hover {
  color: #f4f4ff;
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.menu_item6:active {
  background-color: var(--red2);
}

/* Theme toggle */

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 0 0 0 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}
.theme:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}
.theme:active {
  background-color: var(--red2);
}
.theme_icon {
  height: 2rem;
  width: 2rem;
}

/* Mysterious hamburger */

.third_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 0 0.5rem 0 0;
  border: none;
  border-radius: 50%;
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}
.hamburger:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}
.hamburger:active {
  background-color: var(--red2);
}
.hamburger_icon {
  height: 2rem;
  width: 2rem;
}

.fourth_section {
  position: absolute;
  top: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--dark2);
  z-index: 999;
}

.burger_menu {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
  transition: height 0.3s ease;
}

.burger_menu_item1 {
  display: none;
}
.burger_menu_item2 {
  display: none;
}
.burger_menu_item3 {
  display: none;
}
.burger_menu_item4 {
  display: none;
}
.burger_menu_item5 {
  display: none;
}
.burger_menu_item6 {
  display: none;
}

/* ✨ Responsive ✨ */

@media (min-width: 90rem) {
  .hamburger, .fourth_section {
    display: none;
  }
}

@media (max-width: 87.5em) {
  .menu_item1 {
    display: none;
  }
  .burger_menu {
    height: auto;
  }
  .burger_menu_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    border: 0;
    border-radius: 5rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--light1);
  }
  .burger_menu_item1:hover {
    color: #f4f4ff;
    background-color: var(--red1);
    box-shadow: var(--light_shadow);
  }
  .burger_menu_item1:active {
    background-color: var(--red2);
  }
}

@media (max-width: 80rem) {
  .menu_item2 {
    display: none;
  }
  .burger_menu_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    border: 0;
    border-radius: 5rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--light1);
  }
  .burger_menu_item2:hover {
    color: #f4f4ff;
    background-color: var(--red1);
    box-shadow: var(--light_shadow);
  }
  .burger_menu_item2:active {
    background-color: var(--red2);
  }
}

@media (max-width: 70rem) {
  .menu_item3 {
    display: none;
  }
  .burger_menu_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    border: 0;
    border-radius: 5rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--light1);
  }
  .burger_menu_item3:hover {
    color: #f4f4ff;
    background-color: var(--red1);
    box-shadow: var(--light_shadow);
  }
  .burger_menu_item3:active {
    background-color: var(--red2);
  }
}


@media (max-width: 60rem) {
  .menu_item4 {
    display: none;
  }
  .burger_menu_item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    border: 0;
    border-radius: 5rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--light1);
  }
  .burger_menu_item4:hover {
    color: #f4f4ff;
    background-color: var(--red1);
    box-shadow: var(--light_shadow);
  }
  .burger_menu_item4:active {
    background-color: var(--red2);
  }
}

@media (max-width: 51.5rem) {
  .menu_item5, .menu {
    display: none;
  }
  .burger_menu_item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    border: 0;
    border-radius: 5rem;
    text-decoration: none;
    white-space: nowrap;
    color: var(--light1);
  }
  .burger_menu_item5:hover {
    color: #f4f4ff;
    background-color: var(--red1);
    box-shadow: var(--light_shadow);
  }
  .burger_menu_item5:active {
    background-color: var(--red2);
  }
}

@media (max-width: 41.5rem) {
  .container {
    flex-direction: column;
  }
  .first_section {
    width: 100vw;
    margin: none;
  }
  .logo {
    height: 4rem;
  }
  .second_section {
    margin: 1rem 0 1rem 0;
  }
  .fourth_section {
    position: absolute;
    top: 13rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--dark2);
    z-index: 999;
  }
}
