.custom_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  font-size: 1.25em;
  padding: 1rem;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
  transition: var(--train);
  z-index: 1;
}

.foot_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--dark3);
}

.foot_item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.foot_link {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  /**/
  text-decoration: none;
  color: var(--dark3);
}
.foot_link:hover {
  color: var(--red1);
  text-decoration: underline;
}

.foot_link:active {
  color: var(--red2)
}

@media screen and (min-width: 50%) {
  .foot_container {
    flex-direction: column;
  }
}