.custom_footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 1.25em;
  padding: 1rem 0 1rem 0;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
  z-index: 1;
}

.foot_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foot_item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.foot_link {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: var(--dark3);
}
.foot_link:hover {
  color: var(--red1);
  text-decoration: underline;
}

.foot_link:active {
  color: var(--red2)
}

@media (max-width: 60rem) {
  .foot_container {
    flex-direction: column;
  }
}
