.end_container {
  position: relative;
  box-shadow: var(--heavy_shadow);
  z-index: 2;
}

.top, .middle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 60rem) {
  .top, .middle {
    flex-direction: column;
  }
}
