.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vw -6em);
}

.float {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border-radius: 1.5rem;
  color: var(--light1);
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow);
}

.title {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
  font-size: 2em;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1.5rem;
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.menu input {
  outline: none;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
  font-size: 1em;
}
.menu input:hover {
  color: var(--white);
  background-color: var(--red1);
}
.menu input:focus {
  color: var(--white);
  background-color: var(--red2);
}

.menu button {
  height: 3rem;
  width: auto;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 2rem;
  color: var(--dark3);
  background-color: var(--light1);
  font-size: 1em;
  font-weight: bold;
}
.menu button:hover {
  color: var(--white);
  background-color: var(--red1);
}
.menu button:active {
  color: var(--white);
  background-color: var(--red2);
}

.link {
  margin: 0 0 1rem 0;
  color: var(--dark3);
  text-decoration: none;
}
.link:hover {
  color: var(--red1);
  text-decoration: underline;
}
.link:active {
  color: var(--red2);
}

.register {
}
