.destination_card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  padding: 1em;
  border: 0px;
  border-radius: 1em;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.destination_card img {
  flex: 1;
  max-width: 100%;
  height: auto;
}
