.slideshowContainer {
  position: relative;
  width: 100%;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.controls {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
}