.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
}

.float {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 40%;
  padding: 0.5em 1em 0.5em 1em;
  margin: 5em 1em 5em 1em;
  border: none;
  border-radius: 2.5em;
  font-weight: bold;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 90%;
}

.click {
  height: auto;
  width: auto;
  padding: 1em;
  margin: 1em;
  border: none;
  border-radius: 5em;
  font-size: 1rem;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.click:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}

.click:active {
  background-color: var(--red2);
}

.box {
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: auto;
  width: 90%;
  padding: 1em;
  margin: 0 1em 0 0;
  border: none;
  border-radius: 1.5em;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--dark2);
  box-shadow: var(--light_shadow);
}

.modal_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 1em;
  width: 75%;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  border: none;
  border-radius: 5em;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}
.modal_input:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}
.modal_input:active, .modal_input:focus {
  background-color: var(--red2);
}

.modal_input2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 1em;
  width: 75%;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  border: none;
  border-radius: 5em;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}
.modal_input2:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}
.modal_input2:active, .modal_input2:focus {
  background-color: var(--red2);
}

.modal_click {
  height: auto;
  width: auto;
  padding: 1em;
  margin: 1em;
  border: none;
  border-radius: 5em;
  font-size: 1rem;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.modal_click:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}

.modal_click:active {
  background-color: var(--red2);
}


input[type=range] {
  height: 0.25rem;
  width: 80%;
  margin-left: 1em;
  border: none;
  border-radius: 1em;
  background-color: var(--light2);
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  border-radius: 50%;
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}

input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}

input[type=range]::-moz-range-thumb:hover {
  background-color: var(--red1);
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: var(--red1);
}

input[type=range]::-moz-range-thumb:active {
  background-color: var(--red2);
}

input[type=range]::-webkit-slider-thumb:active {
  background-color: var(--red2);
}

.modal_slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 1em;
  width: 75%;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  border: none;
  border-radius: 5em;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

.range_item {
  margin-left: 1em;
}

@media screen and (max-width: 960px) {
  .column {
    width: 80%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 0.5em;
  }

  .float {
    width: 80%;
  }
}