.about_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  width: 100vw;
  font-size: 1.25em;
}

.marketing_blurb {
  height: auto;
  width: 30%;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 2em;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
  overflow: auto;
  scrollbar-width: none;
}

.staff_image_container {
  position: relative;
  height: 80%;
  width: 50%;
  margin: 1.5rem;
  border-radius: 5rem;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.staff_image {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  object-fit: cover; /* Make the image cover its container */
}

.text_overlay {
  position: absolute;
  top: -0.1%;
  left: -0.1%;
  padding: 1rem 2rem 0.75rem 2rem;
  border-radius: 5rem 0 5rem 0;
  text-align: center;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

/*✨ Responsive ✨*/

@media screen and (max-width: 80rem) {
  .about_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  .marketing_blurb {
    height: auto;
    width: 80%;
  }

  .staff_image_container {
    width: 80%;
  }
  
  .text_overlay {
    font-size: 0.5em;
  }
}
