.scrollarea {
  transition: var(--train);
  overflow: scroll;
  box-shadow: var(--heavy_shadow);
  scrollbar-width: none;
}

.scrollarea2 {
  overflow: scroll;
  scrollbar-width: none;
}

.grid_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 5rem;
  transition: grid-template-columns 20s ease;
}

@media screen and (max-width: 87.5rem) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 70rem) {
  .card_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}