.end_container {
  box-shadow: var(--heavy_shadow);
  position: relative;
  z-index: 3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  min-height: calc(100vh - 6rem);
  width: 100vw;
}

.top_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100vw;
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow);
}

.row {
  display: flex;
  flex-direction: row-reverse;
}

.section {
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0.5rem;
  text-align: start;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  color: var(--light1);
  background-color: var(--dark3);
  box-shadow: var(--heavy_shadow);
}

nav button.active {
  color: #f4f4ff;
  background-color: var(--red1);
  z-index: 1;
}
