.image_container {
  position: relative;
  height: 40rem;
  width: 60vw;
  border-radius: 1rem 5rem 9rem 13rem;
}

.img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: var(--light1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-shadow: inset var(--heavy_shadow);
  z-index: 1;
}

/* The modal window; the thing that opens up when you click the picture. */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  backdrop-filter: blur(0.25rem);
}

.modalContent {
  position: relative;
  width: 90%;
  height: 90%;
  overflow: auto;
  border-radius: 5rem;
  z-index: 999;
}

.modalImage {
  height: 100%;
  width: 100%;
  box-shadow: var(--heavy_shadow);
}

@media (max-width: 60rem) {
  .image_container {
    height: auto;
    width: 100vw;
  }
}
