.search_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
  z-index: 1;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border-radius: 5rem;
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow);
}

.bar_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 5rem;
  font-size: 1.125em;
  background-color: var(--dark3);
  box-shadow: var(--light_shadow);
}

/* Generic input */

.bar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1em;
  color: var(--light1);
}
.bar_item:hover {
  color: var(--white);
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}
.bar_item:active {
  background-color: var(--red2);
}
.bar_item:focus {
  color: var(--white);
  background-color: var(--red2);
}

/* Sliders */

.slider_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  border-radius: 5rem;
  font-size: 1em;
  font-weight: bold;
}

/* Search submission */

.search_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 5rem;
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}
.search_icon {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}
.search_button:hover {
  background-color: var(--red1);
}
.search_button:active {
  background-color: var(--red2);
}

/* Cursed "dropdown" menu */

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0.5rem 0 1.5rem 0;
  border-radius: 5rem;
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow);
}

.dropdown_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2rem;
  margin: 0 0.25rem 0 0.25rem;
  border-radius: 5rem;
  font-weight: bold;
  font-size: 1em;
  color: var(--light1);
  background-color: var(--dark3);
}

.dropdown_item:hover {
  color: var(--white);
  background-color: var(--red1);
}

.dropdown_item:active {
  background-color: var(--red2);
}
