.formatting_outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  box-shadow: inset var(--heavy_shadow);
  z-index: 1;
}

.image_container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.blurred {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  filter: blur(1rem);
}

.image_wrapper {
  display: flex;
  animation: scrollImages 240s linear infinite; /* Adjust animation duration as needed */
}

.image_slide {
  flex: 0 0 auto;
}

.image {
  position: relative;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 23)); /* Adjust the number of images (6) */
  }
}
