.formatting_outer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image_container{
  position: relative;
  height: 100vh;
  width: 100vw;
}
  
.image{
  height: 100vh;
  width: 100vw;
  transition: left 0.5s ease;
  position: relative;
  left: 0;
}

.image:not(.current) {
  transform: translateX(-100%);
}

.control{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.controls{
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 5rem;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.caption{
  position: absolute;
  top: 35%;
  left: 7%;
  padding: 1rem;
  border-radius: 5rem;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Playfair Display';
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}