.custom_header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  font-size: 20px;
  min-width: 100%;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.first_section {
  display: flex;
  align-items: center;
  height: 6em;
  padding-right: 1em;
  border-right: 0px;
  border-top-right-radius: 5em;
  background-color: var(--red1);
  box-shadow: var(--heavy_shadow);
}

.logo {
  max-width: 20em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 2em;
}

.second_section {
  display: flex;
  justify-self: flex-end;
  height: 4em;
  margin-right: 0.5em;
  border: 0px;
  border-radius: 3em;
  background-color: var(--dark2);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  border: 0em;
  border-radius: 2em;
  background-color: var(--dark3);
  white-space: nowrap;
  box-shadow: var(--light_shadow);
}

.menu_item {
  margin-left: -0.1em;
  margin-right: -0.1em;
  height: 1em;
  padding: 1em;
  border: 0em;
  border-radius: 2em;
  text-decoration: none;
  text-align: center;
}

.menu_item:hover {
  background-color: var(--red1);
  box-shadow: var(--light_shadow);
}

.menu_item:hover .menu_text {
  color: #f4f4ff;
}

.menu_item:active {
  background-color: var(--red2);
  box-shadow: var(--light_shadow);
}

.menu_text {
  color: var(--light1);
  text-decoration: none;
}

.theme_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  border: 0em;
  border-radius: 2em;
  color: var(--dark3);
  background-color: var(--light1);
  box-shadow: var(--light_shadow);
}

.theme_toggle:hover {
  background-color: var(--red1);
  color: #f4f4ff;
}

.theme_toggle:active {
  background-color: var(--red2);
}