:root {
  --light1: #f4f4ff;
  --light2: #c4d2db;
  --light3: #94b0c2;
  --dark1: #566c86;
  --dark2: #38415c;
  --dark3: #1a1c2c;
  --red1: #b13e53;
  --red2: #591f2a;
}

/* Header bar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /**/
  font-size: 20px;
  max-width: 100%;
  /**/
  background-color: var(--light2);
}

/* Logo section */

.first_section {
  display: flex;
  align-items: center;
  /**/
  padding-right: 1em;
  /**/
  border-right: 0px;
  border-top-right-radius: 5em;
  /**/
  background-color: var(--light1);
}

.logo {
  max-height: 5em;
  width: auto;
  /**/
  padding: 10px;
  /**/
  min-height: 1em;
  min-width: 1em;
  max-height: 5em;
  max-width: 5em;
}

/* Menus section */

.second_section {
  display: flex;
  justify-self: flex-end;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /**/
  padding: 0.25em;
  margin: 0.5em;
  /**/
  border: 0em;
  border-radius: 2em;
  /**/
  background-color: var(--dark3);
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /**/
  padding: 0.25em;
  margin: 0.5em;
  /**/
  border: 0em;
  border-radius: 2em;
  /**/
  background-color: var(--dark3);
}

.menu_item {
  padding: 1em;
  /**/
  border: 0em;
  border-radius: 2em;
  /**/
  color: var(--light1);
  text-decoration: none;
}

.menu_item:hover {
  background-color: var(--red2);
}

.menu_item:active {
  background-color: var(--red1);
}

.theme_toggle {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  /**/
  border: 0em;
  border-radius: 2em;
  /**/
  background-color: var(--light1);
  color: var(--dark3);
  text-decoration: none;
}

.theme_toggle:hover {
  background-color: var(--red2);
  color: var(--light1)
}

.theme_toggle:active {
  background-color: var(--red1);
}