.booking_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60vw;
}

.booking_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    border-radius: 2rem;
    font-size: 2em;
    color: var(--light1);
    background-color: var(--dark2);
    box-shadow: var(--light_shadow);
}

.booking_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: 2rem;
    border-radius: 2rem;
    background-color: var(--dark3);
    box-shadow: var(--heavy-shadow);
}

.booking_inner {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
    height: 90%;
    width: 90%;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1em;
    color: var(--light1);
}

.header {
    padding: 1rem;
    border-radius: 5rem;
    background-color: var(--dark3);
}