.images{
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 60vw;
    box-shadow: var(--heavy-shadow);
  }

.img{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}
