.newsletter_outer {
  height: auto;
  width: 60vw;
}

.newsletter_inner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  height: auto;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--light1);
  box-shadow: var(--heavy_shadow);
}

.screamlord {
  font-size: 2em;
  font-weight: bold;
}
.pitch {
  font-size: 1.5em;
  margin: 0 0 1rem 0;
}

.newsletter_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  height: 3rem;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--dark2);
  box-shadow: var(--heavy_shadow)
}
.newsletter_bar input {
  outline: none;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
  color: var(--light1);
  background-color: var(--dark3);
  font-size: 1.125em;
  box-shadow: var(--light_shadow);
}
.newsletter_bar input:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}
.newsletter_bar input:focus {
  color: #f4f4ff;
  background-color: var(--red2);
}

.newsletter_bar button {
  height: 3rem;
  width: 8rem;
  margin: 0 0 0 0.5rem;
  border: none;
  border-radius: 5rem;
  color: var(--dark3);
  background-color: var(--light1);
  font-size: 1em;
  font-weight: bold;
  box-shadow: var(--light_shadow);
}
.newsletter_bar button:hover {
  color: #f4f4ff;
  background-color: var(--red1);
}

.newsletter_bar button:active {
  background-color: var(--red2);
}
